/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #eee}

 a:hover{
  color: #FF0800;
  background-color: white;
}

main{
  padding: 10px 20px 20px 20px;
}
 header{
  display: block;
  padding: 20px 10px 50px 10px;
}
 html, body{
  margin:0;
  padding:0;
  height:100%;
  background: #F2F2F2;
}

 div#container{
  box-sizing: border-box;
  padding: 0px 0px 150px 0px;
  position: relative;
  min-width: 950px;
  min-height:100%;
  background-color: #F2F2F2;
}
div#topBar{
  height:20px;

  display:block;
  /* Padding Top, Right, Bottom, Left */
  padding: 5px 20px 0px 10px;
  background: #2F343D;
}
div#logBar{
  position:relative;
  float:right;
  width:300px;
  right:5%;
}
div#topBar a{

  margin: 0;
  text-decoration: none;
  padding-left: 10px;
  color: black;
  color: white;
  font-size: 130%;
  font-family: "Times New Roman";

}
 
div#topBar a:hover{
  background-color:#2F343D;
  color: white;

}

 div#headwrap{

  left: 0;
  width:100%;
  height:110px;
  background: white;
}
div#navBar{

  height:30px;

 display:block;
  /* Padding Top, Right, Bottom, Left */
  padding: 5px 20px 5px 10px;
  background:#01B1AF;
}
div#navBar a{
  margin: 0;
  text-decoration: none;
  padding-left: 10px;
  color: black;
  font-size: 180%;
  font-family: "Times New Roman";

}
 
div#navBar a:hover{
  background-color:#01B1AF;
  color: white;

}

 div#bodywrap{
  position:relative;
  width: 900px;
  min-height: 100%;
  margin: 0 auto ; 
  /*border: 2px solid #01B1AF;*/
}

 div#footwrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:175px;
  background: white;
}

/*WEBSITE TITLE*/
 .websiteTitle{
  position: absolute;
  left: 220px;
  top:45px;
  margin-left: -250px;
  font-size: 28px;
  text-decoration: none;
  display: inline;
  line-height: 90px;
  padding-left: 60px;
  
}
.websiteTitle:hover{
  background-color: white;
  color: black;
}
 div#tabs{
  float:left;
  padding-top: 5px;
 }
/*SEARCHING BAR*/
 div#searchBar{
  position:relative;
width:430px;
float:right;
right:5%;
}

#search-input{
  width: 353px;

  height:20px;
}

 
#search-button{

  background-color: #00647D;
  padding: 7px 12px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  color: #FFF;
}

/*FOOT OF THE LAYOUT*/
#leftfoot{
  position:absolute;
  right:71%;
  margin-right:-250px;
width:500px;
}

#leftfoot1{
  font-size: 28px;
  color: #606060;
  text-decoration: none;
  display: inline;
  line-height: 90px;
  padding-left: 60px;
}
#leftfoot2{
  position: relative;
  top:-50px;
  left:30px;
  color:#A8A8AA
}
#midfoot{
  position:absolute;
  left:75%;
  margin-left:-130px;
  width: 260px;
  /*margin-right: 20px;*/
}
#midfoot1{
  color:#A8A8AA;
}

@media all and (max-width: 950px) {

div#logBar {
  position:absolute;
  left: 600px;

}

div#searchBar{
position:absolute;
left:460px;
}
#leftfoot{
  position:absolute;
  left:20px;
  margin-right:-250px;
width:500px;
}
#midfoot{
  position:absolute;
  left:700px;
  margin-left:-130px;
  width: 260px;
  /*margin-right: 20px;*/
}
}

div#adHeader{
  background:white;

  padding :0px 20px 5px 20px;
}
div #adHeader a{

  color: blue;
  font-size: 150%;
  font-family: "Times New Roman";
}
div#adTitle{
  padding: 10px 15px 0px 15px;
  color: blue;
  font-size: 300%;
  font-family: "Times New Roman";

}
div#adBody{
  border: 2px solid #2B5EAF;
  background: #F2F2F2;
  padding: 10px 10px 10px 10px;
  min-height: 25px;
  font-size: 150%;
  font-family: "Times New Roman";
}
div#comments{
background: white;
padding: 5px 15px 5px 10px;
}
#actions{
  padding: 0px 10px 0px 10px;
  font-size: 180%;
  font-family: "Times New Roman";
}







