<!-- <p> testing </p> -->
<div id = "users">
	<div id = "queue">
		<table id="userlist">
			<tr id="title"><th><h2>Queue</h2></th></tr>
			<tr><th><h3>Jim Carson</h3></th></tr>
			<tr><th><h3>Kevin Dang</h3></th></tr>
			<tr><th><h3>Quoc Nguyen</h3></th></tr>
			<tr><th><h3>Kim Pham</h3></th></tr>
			<tr><th><h3>Quoc Nguyen</h3></th></tr>
			<tr><th><h3>Cody Pham</h3></th></tr>
		</table>	
	</div>

	<div id="chat">
		<div id="chattop">
			<th>
				<table id="chatbox">
					<tr>
						<tr id="title"><th><h2>Chat Window</h2></th></tr>
						<tr><th><h3>Cody: Hey there.</h3></th></tr>
						<tr><th><h3>Kim: ... Hi?</h3></th></tr>
						<tr><th><h3>Cody: ☺... (offers hand) My name is Cody and haha, you look like you could use someone cool to talk to.</h3></th></tr>
						<tr><th><h3>
						Kim: Oh? (is that what you think?) I am kind of bored. Sarah.</h3></th></tr>
						<tr><th><h3>
						Cody: Nice to meet you Sarah, I always liked that name.</h3></th></tr>
						<tr><th><h3>
						Kim: Me too. Haha probably because it’s mine.</h3></th></tr>
						<tr><th><h3>
						Cody: I’m the same way... So who are you here with?</h3></th></tr>
						<tr><th><h3>
						Kim: These guys (points) – the one in red is my roommate.</h3></th></tr>
						<tr><th><h3>
						Cody: So you are studying here... working? How is she, is she crazy or is she a cool girl?</h3></th></tr>
						<tr><th><h3>
						Kim: She is a little crazy but mostly cool. I’m studying language and communication.</h3></th></tr>
						<tr><th><h3>
						Cody: You ever catch her talking to herself?</h3></th></tr>
						<tr><th><h3>
						Kim: Haha! No, but she might have caught me. I’m a little quirky.</h3></th></tr>
						<tr><th><h3>Cody: All the best people are quirky... I bet I can outdo you though.</h3></th></tr>
						<tr><th><h3>Kim: Ha!</h3></th></tr>
						<tr><th><h3>
						Cody: Let’s see if you can keep up. (little contest follows and friend comes over)</h3></th></tr>
					</tr>
				</table>
			</th>
		</div>
		<div>
			<div width = 90%>
				<form name = "Response" "><textarea name = "Type a message here" class ="textbox"></textarea></form>
			</div>
			<div width = 10%>
				<button type = "button" class="textbutton">Send</button>
			</div>
		</div>
	</div>
	<div id="leftcol">
			<table id="leftuser", height = 50px>
				<tr id="title"><th><h2>Collaborators</h2></th></tr>
			</table>
			
			<table width = "100%">
					<tr>
						<th id = "filled"><h3>JC</h3></th>
						<th id = "filled"><h3>KP</h3></th>
						<th id = "filled"><h3>KN</h3></th>
						<th id = "filled"><h3>QN</h3></th>
						<th id = "filled"><h3>PN</h3></th>
						<th id = "filled"><h3>CP</h3></th>
					</tr>
					<tr><h3>Objectives:</h3></tr>
					<tr><h4 align="right">Finish schema design</h4></tr>
					<tr><h4 align="right">Design the GUI</h4></tr>
					<tr><h3>Problems:</h3></tr>
					<tr><h4 align="right">Text does not automatically resize</h4></tr>
					<tr><h3>Accomplishments:</h3></tr>
					<tr><h4 align="right">Created website foundation</h4></tr>
					</tr>
			</table>
	</div>
</div>


