<!-- <p> testing </p> -->
<div id="users">
<div id="u">
<table id="userlist", height = 500px, scroll = "auto">
<tr id="title"><th><h2>Queue</h2></th></tr>
<tr><th><h3>Jim Carson</h3></th></tr>
<tr><th><h3>Kevin Dang</h3></th></tr>
<tr><th><h3>Quoc Nguyen</h3></th></tr>
<tr><th><h3>Kim Pham</h3></th></tr>
<tr><th><h3>Quoc Nguyen</h3></th></tr>
<tr><th><h3>Lynn Hoang</h3></th></tr>

</table>

</div>
<!-- =link_to image_tag "screen.png" -->
<div id="chat">
<div id="chattop">
<th>

<table id="chatbox", width =700px>
<tr>
<tr id="title"><th><h2>Chat Window</h2></th></tr>
<tr><th><h3>Cody: Hey there.</h3></th></tr>
<tr><th><h3>Girl: ... Hi?</h3></th></tr>
<tr><th><h3>Cody: ☺... (offers hand) My name is Cody and haha, you look like you could use someone cool to talk to.</h3></th></tr>
<tr><th><h3>
Girl: Oh? (is that what you think?) I am kind of bored. Sarah.</h3></th></tr>
<tr><th><h3>
Cody: Nice to meet you Sarah, I always liked that name.</h3></th></tr>
<tr><th><h3>
Girl: Me too. Haha probably because it’s mine.</h3></th></tr>
<tr><th><h3>
Cody: I’m the same way... So who are you here with?</h3></th></tr>
<tr><th><h3>
Girl: These guys (points) – the one in red is my roommate.</h3></th></tr>
<tr><th><h3>
Cody: So you are studying here... working? How is she, is she crazy or is she a cool girl?</h3></th></tr>
<tr><th><h3>
Girl: She is a little crazy but mostly cool. I’m studying language and communication.</h3></th></tr>
<tr><th><h3>
Cody: You ever catch her talking to herself?</h3></th></tr>
<tr><th><h3>
Girl: Haha! No, but she might have caught me. I’m a little quirky.</h3></th></tr>
<tr><th><h3>Cody: All the best people are quirky... I bet I can outdo you though.</h3></th></tr>
<tr><th><h3>Girl: Ha!</h3></th></tr>
<tr><th><h3>
Cody: Let’s see if you can keep up. (little contest follows and friend comes over)</h3></th></tr>
</tr>
</table>
</th>


</div>
<div id="insert">


<form name = "Response" "><textarea name = "Type a message here" class ="textbox"></textarea></form>
<button type = "button" class="textbutton">Send</button>



</div>

</div>
<div id="leftcol">
<table id="leftuser", height = 500px>
<tr id="title"><th><h2>Collaborators</h2></th></tr>

<tr><th><h3>AB  |  CD  |  EF</h3></th></t
</table>
</div>
</div>


